In [253]:
import pandas as pd
import numpy as np

data14 = pd.read_excel('data/data14_prep.xlsx')
data2 = pd.read_excel('data/data2_prep.xlsx')
data3 = pd.read_excel('data/data3_prep.xlsx')
data5 = pd.read_excel('data/data5_prep.xlsx')

### Объединим все бд в одну

In [254]:
data = pd.concat([data14, data2, data3, data5], ignore_index=True, sort=False)

In [255]:
data.head()

,material_type,elements,electronegativity,ionic_radius,core_size,diameter,surface_charge,surface_area,cell_type,concentration,...,shape,synthesis_method,surface_charge_type,size_in_water,size_in_medium,zeta_in_medium,no_of_cells,aspect_ratio,pdi,toxicity
0,CuO,Cu,1.90,73.0,12.8,313.8,7.6,74.2,1,200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ZnO,Zn,1.65,74.0,22.6,114.7,28.8,47.4,0,200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ZnO,Zn,1.65,74.0,22.6,114.7,28.8,47.4,0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ZnO,Zn,1.65,74.0,22.6,69.4,28.8,47.4,1,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Mn2O3,Mn,1.55,58.0,51.5,291.7,-46.1,25.9,1,200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Отбросим пустую колонку

In [256]:
# data.drop('Unnamed: 24', axis=1, inplace=True)

### Предобработаем отдельные признаки

In [257]:
sct_dict = {
    '+': 'Positive',
    '-': 'Negative', 
    'Negtive': 'Negative',
    0: 'Neutral', 
    'Not known': np.nan, 
    'Not available': np.nan
    }
data['surface_charge_type'].replace(sct_dict, inplace = True)

In [258]:
ca_dict = {
    'A': 'Adult',
    'E': 'Embryonic',
    }
data['cell_age'].replace(ca_dict, inplace = True)

In [259]:
co_dict = {
    'lung': 'Lung',
    'Bone marrow': 'Bone Marrow',
    'BoneMarrow': 'Bone Marrow',
    'kidney': 'Kidney',
    'stomach': 'Stomach',
    'axillary lymph node': 'Axillary Lymph Node',
    'adrenal gland': 'Adrenal Gland',
    'Adrenal gland': 'Adrenal Gland',
    'Urinary bladder': 'Urinary Bladder',
    'UrinaryBladder': 'Urinary Bladder',
    'embryo': 'Embryo',
    'liver': 'Liver',
    'Umbilical cord': 'Umbilical Cord'
    }
data['cell_organ'].replace(co_dict, inplace = True)

In [260]:
c_dict = {
    'silica': 'Silica',
    'Tween80': 'Tween 80',
    'Hyaluronic acid ': 'Hyaluronic acid'
    }
data['coat'].replace(c_dict, inplace = True)

### Сформируем справочник "тип клеток - тип клеточных линий"

In [261]:
# data[['cell_line', 'cell_type']].drop_duplicates()[data.cell_type.notna()].dropna()

In [262]:
# cl_dict = data[['cell_line', 'cell_type']].drop_duplicates()[data.cell_type.notna()].dropna().set_index('cell_line')['cell_type'].to_dict()

### Применим справочник

In [263]:
# # 0 - Normal, 1 - Cancer
# type = {'Normal': 0, 'Cancer': 1}
# data['cell_type'].replace(type, inplace=True)

### Работаем с полем *type*

In [264]:
data['type'].replace({0: 'O'}, inplace=True)
data['type'].fillna('I', inplace=True)

### Устраняем дубли

In [265]:
data.drop_duplicates(inplace = True)

### Сохраняем

In [266]:
data.to_excel('data/data_prep.xlsx', index=False)